<h1>СОДЕРЖАНИЕ<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.-Загрузка-библиотек-и-дадасетов" data-toc-modified-id="1.-Загрузка-библиотек-и-дадасетов-1">1. Загрузка библиотек и дадасетов</a></span></li><li><span><a href="#2.-Профили-данных" data-toc-modified-id="2.-Профили-данных-2">2. Профили данных</a></span><ul class="toc-item"><li><span><a href="#2.1.-Датасет-2020-года" data-toc-modified-id="2.1.-Датасет-2020-года-2.1">2.1. Датасет 2020 года</a></span></li><li><span><a href="#2.2.-Датасет-2021-года" data-toc-modified-id="2.2.-Датасет-2021-года-2.2">2.2. Датасет 2021 года</a></span></li><li><span><a href="#2.3.-Датасеты-2022-года" data-toc-modified-id="2.3.-Датасеты-2022-года-2.3">2.3. Датасеты 2022 года</a></span></li></ul></li><li><span><a href="#3.-План-коррекции,-объединения-данных-и-его-реализация" data-toc-modified-id="3.-План-коррекции,-объединения-данных-и-его-реализация-3">3. План коррекции, объединения данных и его реализация</a></span></li><li><span><a href="#4.-Запись-результатов-обработки-в-файл-Excel" data-toc-modified-id="4.-Запись-результатов-обработки-в-файл-Excel-4">4. Запись результатов обработки в файл Excel</a></span></li></ul></div>

# 1. Загрузка библиотек и дадасетов

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Загружаем датасет 2020 года 
df_2020 = pd.read_csv('Копия 2020.csv')

In [3]:
# Загружаем датасет 2021 года, преобразованный из файла .accdb
#  зададим название колонок, так как в файле они отсутсвуют
df_2021 = pd.read_csv('Копия 2021.csv',
                      names=['Year', 'Month', 'Channel', 'Brand',
                            'Weight range', 'Units (in 1000)',
                            'Value (in 1000 rub)', 'Volume (in 1000 kg)',
                            'Number of stores'])

In [4]:
# Загружаем датасет 2022 года из файла .txt 
df_2022_txt = pd.read_csv('Копия 2022.txt', sep='\t')

In [5]:
# Загружаем датасет 2022 года из файла .xlsx 
df_2022_xlsx = pd.read_excel('Копия 2022.xlsx')

# 2. Профили данных

## 2.1. Датасет 2020 года

In [6]:
df_2020.info(),df_2020

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1274 entries, 0 to 1273
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 1274 non-null   int64
 1   Month                1258 non-null   float64
 2   Channel              1258 non-null   object
 3   Brand                1258 non-null   object
 4   Weight range         1274 non-null   object
 5   Units (in 1000)      1274 non-null   float64
 6   Value (in 1000 rub)  1274 non-null   float64
 7   Volume (in 1000 kg)  1274 non-null   float64
 8   Number of stores     668 non-null    float64
dtypes: float64(5), int64(1), object(3)
memory usage: 89.7+ KB

(None,
       Year  Month       Channel  Brand Weight range  Units (in 1000)  \
 0     2020    1.0  Hypermarkets  Green     200-249G          16.3202
 1     2020    1.0  Hypermarkets  Green     350-399G          87.8634
 2     2020    1.0  Hypermarkets  Green     400-599G          35.7182
 3     2020    1.0  Hypermarkets  Green     600-899G           0.3580
 4     2020    1.0  Hypermarkets   Blue     400-599G          16.8368
 ...    ...    ...           ...    ...          ...              ...
 1269  2019   12.0  Supermarkets  White        <200G         100.0000
 1270  2019   12.0  Supermarkets    Dim     350-399G         100.0000
 1271  2019   12.0  Supermarkets    Dim     400-599G         100.0000
 1272  2019   12.0  Supermarkets  Vivid        <200G         100.0000
 1273  2019   12.0  Supermarkets  Vivid     350-399G         100.0000

       Value (in 1000 rub)  Volume (in 1000 kg)  Number of stores
 0              936.803413               3.4272             477.0
 1             7019.116508              30.7522             754.0
 2             4166.453788              17.8592             629.0
 3               66.387690               0.2685              29.0
 4             3227.992656               6.7346             663.0
 ...                   ...                  ...               ...
 1269         10000.000000            1000.0000               NaN
 1270         10000.000000            1000.0000               NaN
 1271         10000.000000            1000.0000               NaN
 1272         10000.000000            1000.0000               NaN
 1273         10000.000000            1000.0000               NaN

 [1274 rows x 9 columns])

## 2.2. Датасет 2021 года

In [7]:
df_2021.info(), df_2021

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 675 entries, 0 to 674
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 675 non-null    float64
 1   Month                675 non-null    float64
 2   Channel              675 non-null    object
 3   Brand                675 non-null    object
 4   Weight range         675 non-null    object
 5   Units (in 1000)      675 non-null    float64
 6   Value (in 1000 rub)  675 non-null    float64
 7   Volume (in 1000 kg)  675 non-null    float64
 8   Number of stores     675 non-null    float64
dtypes: float64(6), object(3)
memory usage: 47.6+ KB

(None,
        Year  Month       Channel      Brand Weight range  Units (in 1000)  \
 0    2021.0    1.0  Hypermarkets      Green     200-249G          12.7583
 1    2021.0    1.0  Hypermarkets  Greennn#!     350-399G          61.6034
 2    2021.0    1.0  Hypermarkets  Greennn#!     400-599G          47.7524
 3    2021.0    1.0  Hypermarkets  Greennn#!     600-899G           0.0017
 4    2021.0    1.0  Hypermarkets       Blue     200-249G           0.0509
 ..      ...    ...           ...        ...          ...              ...
 670  2021.0   11.0   Minimarkets  Greennn#!     100-199G          11.4728
 671  2021.0   11.0  Supermarkets  Greennn#!     100-199G          17.9486
 672  2021.0   12.0  Hypermarkets  Greennn#!     100-199G          10.5903
 673  2021.0   12.0   Minimarkets  Greennn#!     100-199G           7.8182
 674  2021.0   12.0  Supermarkets  Greennn#!     100-199G          25.2956

      Value (in 1000 rub)  Volume (in 1000 kg)  Number of stores
 0             817789.128               2.6792             545.0
 1            5598975.814              21.5612             798.0
 2            4638537.271              23.8763             569.0
 3                123.992               0.0013               1.0
 4               5628.921               0.0101               6.0
 ..                   ...                  ...               ...
 670           749057.600               2.2945            1710.0
 671          1339453.100               3.5896            2387.0
 672           748857.900               2.1180             428.0
 673           549344.300               1.5636            1053.0
 674          1721988.600               5.0591            2407.0

 [675 rows x 9 columns])

## 2.3. Датасеты 2022 года

In [8]:
df_2022_txt.info(), df_2022_txt

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 681 entries, 0 to 680
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 681 non-null    int64
 1   Month                681 non-null    int64
 2   Channel              681 non-null    object
 3   Brand                681 non-null    object
 4   Weight range         681 non-null    object
 5   Units (in 1000)      681 non-null    float64
 6   Value (in 1000 rub)  681 non-null    object
 7   Volume (in 1000 kg)  681 non-null    float64
 8   Number of stores     681 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 48.0+ KB

(None,
      Year  Month       Channel  Brand Weight range  Units (in 1000)  \
 0    2022      1  Hypermarkets  Green     200-249G          15.2249
 1    2022      1  Hypermarkets  Green     350-399G          58.2443
 2    2022      1  Hypermarkets  Green     400-599G          38.4102
 3    2022      1  Hypermarkets   Blue     200-249G           0.1327
 4    2022      1  Hypermarkets   Blue     400-599G          44.9287
 ..    ...    ...           ...    ...          ...              ...
 676  2022     11   Minimarkets  Green     100-199G           1.1740
 677  2022     11  Supermarkets  Green     100-199G           4.2365
 678  2022     12  Hypermarkets  Green     100-199G           0.1749
 679  2022     12   Minimarkets  Green     100-199G           2.0995
 680  2022     12  Supermarkets  Green     100-199G           2.5092

     Value (in 1000 rub)  Volume (in 1000 kg)  Number of stores
 0            899.265493               3.1972               536
 1           5622.580442              20.3855               758
 2            4457.22479              19.2051               633
 3             15.948333               0.0265                10
 4           7611.563208              17.9715               728
 ..                  ...                  ...               ...
 676             97.2256               0.2348               187
 677             353.291               0.8473               778
 678            14.3406+               0.0350                22
 679           123.6008+               0.4200               200
 680           223.1901+               0.5018               514

 [681 rows x 9 columns])

In [9]:
df_2022_xlsx.info(), df_2022_xlsx

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         365 non-null    datetime64[ns]
 1   Year         365 non-null    int64
 2   MonthNum     365 non-null    int64
 3   WeekDayNum   365 non-null    int64
 4   WeekYearNum  365 non-null    int64
 5   MonthDayNum  365 non-null    int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 17.2 KB

(None,
           Date  Year  MonthNum  WeekDayNum  WeekYearNum  MonthDayNum
 0   2022-01-01  2022         1           7            1            1
 1   2022-01-02  2022         1           1            2            2
 2   2022-01-03  2022         1           2            2            3
 3   2022-01-04  2022         1           3            2            4
 4   2022-01-05  2022         1           4            2            5
 ..         ...   ...       ...         ...          ...          ...
 360 2022-12-27  2022        12           3           53           27
 361 2022-12-28  2022        12           4           53           28
 362 2022-12-29  2022        12           5           53           29
 363 2022-12-30  2022        12           6           53           30
 364 2022-12-31  2022        12           7           53           31

 [365 rows x 6 columns])

# 3. План коррекции, объединения данных и его реализация
1) Удаляем датафрейм так как в нём нет полезной информации - только даты, в том числе разложенные на составляющие.  
2) Приводим типы данных 'Year', 'Month', 'Number of stores' к типу данных int, так эти характеристики измеряются в целых числах.  
3) Устранение лишних символов "+" в датафрейме 2022 года в колонке "Value (in 1000 rub)".  
4) Проверим текстовые значения в колонках 'Channel', 'Brand' и 'Weight range' на корректность записи, просматривая их уникальные значения.  
5) Проверка и удаление дубликатов данных.  
6) Объединеняем датафреймы 2020, 2021, 2022 годов в единый.  
> Пустые значения  пока не меняем на статистические, и не производим удеаление записей с путсыми значениями - так как не известно какие задачи придётся решать с данным, а соответственно не известно имеет ли смысл сейча:
>- тратить ресурсы на преобразование данных,  
>- избавляться от отдельных записей из-за части пустых знаxений в них, что приводит к потере полезной части информации.

In [10]:
# Удаляем не используемый датафрейм
del df_2022_xlsx

In [11]:
# Меняем типы в колонках с целыми значениями на Int64 (в нём есть встроенный NaN)
for df in [df_2020, df_2021, df_2022_txt]:
    for col in ['Year', 'Month', 'Number of stores']:
        df[col] = df[col].astype({col: 'Int64'})

In [12]:
# Удаляем лишние знаки в колонке "Value (in 1000 rub)" в датафрейме 2022 года
df_2022_txt['Value (in 1000 rub)'] =\
df_2022_txt['Value (in 1000 rub)'].apply(lambda x: float(x)
                                         if list(str(x))[-1] != '+'
                                         else float(''.join(list(str(x))[:-1])))

In [13]:
# Прверяем корректность записи категориальных меременных
for col in ['Channel', 'Brand', 'Weight range']:
    print(f'\nКОЛОНКА "{col}""')
    for i, df in enumerate([df_2020, df_2021, df_2022_txt]):
        print(f'Уникальные значения в {i+1}: {list((df[col].unique()))}')

КОЛОНКА "Channel""
Уникальные значения в 1: ['Hypermarkets', 'Minimarkets', 'Supermarkets', nan]
Уникальные значения в 2: ['Hypermarkets', 'Minimarkets', 'Supermarkets']
Уникальные значения в 3: ['Hypermarkets', 'Minimarkets', 'Supermarkets']

КОЛОНКА "Brand""
Уникальные значения в 1: ['Green', 'Blue', 'Black', 'White', 'Red', 'Yellow', 'Orange', 'Purple', 'Pink', 'Brown', 'Grey', 'Pale', 'Pastel', 'Mat', 'Deep', 'Dim', 'Vivid', 'Virulent', 'Moderate', 'Glossy', 'Delicate', 'Silver', 'Lime', 'Teal', 'Khaki', 'Golden', 'Beige', 'Salmon', nan, 'Cream']
Уникальные значения в 2: ['Green', 'Greennn#!', 'Blue', 'Black', 'Yellow', 'White', 'Red', 'Orange', 'Purple', 'Brown', 'Pink', 'Golden', 'Grey', 'Vivid', 'Deep', 'Moderate', 'Pale', 'Dim', 'Lime', 'Virulent', 'Magenta', 'Rosy', 'Beige', 'Lilac', 'Cream', 'Cotton', 'Silver', 'Snow']
Уникальные значения в 3: ['Green', 'Blue', 'White', 'Orange', 'Red', 'Yellow', 'Magenta', 'Purple', 'Pink', 'Cotton', 'Snow', 'Rosy', 'Lilac', 'Black', 'Deep', 'Vivid', 'Lime', 'Pearl', 'Dim', 'Macaroon', 'Rice', 'Linen', 'Bone', 'Daisy', 'Powder']

КОЛОНКА "Weight range""
Уникальные значения в 1: ['200-249G', '350-399G', '400-599G', '600-899G', '<200G', '250-299G', '300-349G', '100-199G']
Уникальные значения в 2: ['200-249G', '350-399G', '400-599G', '600-899G', '<200G', '250-299G', '300-349G', '100-199G']
Уникальные значения в 3: ['200-249G', '350-399G', '400-599G', '<200G', '250-299G', '300-349G', '600-899G', '100-199G']

In [14]:
# Меняем во втором датафрейме в колонке "Brand"
# не корректное значение 'Greennn#!' меняем на 'Green'
df_2021['Brand'] = df_2021['Brand'].replace(['Greennn#!'], 'Green')

In [15]:
# Проверяем наличие дубликтов
for i, df in enumerate([df_2020, df_2021, df_2022_txt]):
    print(f'Дубликаты в {i+1}: {df[df.duplicated()]}')

Дубликаты в 1:      Year  Month Channel Brand Weight range  Units (in 1000)  \
646  2020   <NA>     NaN   NaN     400-599G         100000.0
648  2020   <NA>     NaN   NaN     350-399G         100000.0
649  2020   <NA>     NaN   NaN     400-599G         100000.0
651  2020   <NA>     NaN   NaN     200-249G         100000.0
652  2020   <NA>     NaN   NaN     400-599G         100000.0
653  2020   <NA>     NaN   NaN        <200G         100000.0
654  2020   <NA>     NaN   NaN     350-399G         100000.0
655  2020   <NA>     NaN   NaN     350-399G         100000.0
656  2020   <NA>     NaN   NaN     400-599G         100000.0
657  2020   <NA>     NaN   NaN     200-249G         100000.0
658  2020   <NA>     NaN   NaN     350-399G         100000.0

     Value (in 1000 rub)  Volume (in 1000 kg)  Number of stores
646             100000.0             100000.0            100000
648             100000.0             100000.0            100000
649             100000.0             100000.0            100000
651             100000.0             100000.0            100000
652             100000.0             100000.0            100000
653             100000.0             100000.0            100000
654             100000.0             100000.0            100000
655             100000.0             100000.0            100000
656             100000.0             100000.0            100000
657             100000.0             100000.0            100000
658             100000.0             100000.0            100000
Дубликаты в 2: Empty DataFrame
Columns: [Year, Month, Channel, Brand, Weight range, Units (in 1000), Value (in 1000 rub), Volume (in 1000 kg), Number of stores]
Index: []
Дубликаты в 3: Empty DataFrame
Columns: [Year, Month, Channel, Brand, Weight range, Units (in 1000), Value (in 1000 rub), Volume (in 1000 kg), Number of stores]
Index: []

ВЫВОД: Все выявленные 11 строк в первом датафрейме имеют не заполненные значения - значит могут быть не дубликатами, а не полностью заполненными уникальными записями. Таким образом на данном этапе удалять их не целесообразно.

In [16]:
# Объединим датафреймы
df = pd.concat([df_2020, df_2021, df_2022_txt])
df.reset_index(drop=True, inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2630 entries, 0 to 2629
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 2630 non-null   Int64
 1   Month                2614 non-null   Int64
 2   Channel              2614 non-null   object
 3   Brand                2614 non-null   object
 4   Weight range         2630 non-null   object
 5   Units (in 1000)      2630 non-null   float64
 6   Value (in 1000 rub)  2630 non-null   float64
 7   Volume (in 1000 kg)  2630 non-null   float64
 8   Number of stores     2024 non-null   Int64
dtypes: Int64(3), float64(3), object(3)
memory usage: 192.8+ KB

# 4. Запись результатов обработки в файл Excel

In [18]:
df.to_excel('Результат по модулю 2.7.xlsx')